#banner
  .banner_content
    %h1 File Cabinet
    %p Work Smarter not harder.

#callout
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p A file storage system, designed to help you share documents with yourself
        no matter who you are! no matter where you are!
        see the top right of the page,
        to sign in
